################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chess-replay/Debug/vc141.pdb
/Chess-replay/Debug/vc141.idb
/Chess-replay/Debug/stdafx.obj
/Chess-replay/Debug/Chess-replay.tlog
/Chess-replay/Debug/Chess-replay.res
/Chess-replay/Debug/Chess-replay.pdb
/Chess-replay/Debug/Chess-replay.pch
/Chess-replay/Debug/Chess-replay.obj
/Chess-replay/Debug/Chess-replay.ilk
/Chess-replay/Debug/Chess-replay.exe
